<module name="Checker">
    <module name="TreeWalker">
        <module name="ConstantName"/>
        <module name="NoWhitespaceAfter"/>
        <module name="EmptyLineSeparator"/>
        <module name="AvoidInstantiation"/>
        <module name="Indentation"/>
        <module name="MethodName"/>
    </module>
</module>
